.PageContainer {
    height: 81vh;
    background-color: rgb(235, 239, 246);
    background-image: url(../../assets/images/cala-vinyes-drone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}