.PageContainer {
    height: 100vh;
    background-color: rgb(235, 239, 246);
    // background-image: url(../../assets/images/cala-vinyes-drone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }

  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Segoe UI, Tahoma, sans-serif;
  }
  
  .Calendar input,
  .Calendar button {
    font: inherit;
  }
  
  .Calendar__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
  }
  
  .Calendar__container > * > * {
    margin: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  
  .Calendar__container__content {
    display: flex;
    max-width: 100%;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
    padding-top: 1em;
    font-size: larger;
  }
  
  .Calendar__container__content .react-calendar {
    margin: 0 auto;
  }