.SigninForm {
  margin-top: 32px;
}
.Input {
  background: #ffffff;
  border: 1px solid #d1d5f3;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}
/* for mobile screen size from 576px wide and down */
@media screen and (max-width: 576px) {
  .Content {
     max-width: 95% !important;
  }
}