.Footer {
    bottom: 0;
    position: relative;
    left: 0;
    width: 100%;
    background-color: #1d486a;
    color: white;
    text-align: center;
    margin-top: 2px;

    a {
        color: #fff;
    }
}

@media (max-width: 992px) {
    .FooterContacts {
      display: none;
    }
  }